/* Some good practice

1. Position
2. Box model
3. Tipography
4. Visual things
5. Others */

/* font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif; */

:root {
  /* Colors  */
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --dark-grey: #757575;
  --off-white: #FAF8F7;
  --just-white: #FFFFFF;
  --benefits-text-color: #808080;

  /* Font sizes */
  --large: 2.4rem;
  --medium: 1.6rem;
  --normal: 1.4rem; 

  /* line hight */
  --normal-line-hight: 1.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: var(--off-white);
  font-size: var(--normal);
  line-height: var(--normal-line-hight);
}

/* Section Utilities */

.w286-center {
  width: 288px;
  margin: 0 auto;
}

.section-title {
  font-size: var(--large);
  line-height: 2.6rem;
}

.section-title_black {
  color: var(--warm-black);
}

.section-title_white {
  color: var(--just-white)
}

/* Text utilities */

.text {
  font-weight: 500;
}

.text_soft-orange {
  color: var(--soft-orange);
}

.text_grey {
  color: var(--grey);
}

.text_dark-grey {
  color: #757575;
}

.text_benefits-grey {
  color: var(--benefits-text-color);
}

/* Table Utilities */

.table-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 23.44px;
  text-align: start;
}

.table-title_orange {
  color: #FF9536;
}

.table-title_blue {
  color: var(--secondary-blue);
}

.table-title_white {
  color: var(--just-white);
}

.bg-currency {
  background-color: var(--soft-orange);
}

.bg-commission {
  background-color: var(--soft-blue);
}

/* header section */

.page-header {
  width: 100%;
  min-width: 320px; /* No se hara mas pequeño que 320px */
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.page-header__container {
  height: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__img {
  width: 150px;
  height: 24px;
  margin-top: 4rem;
}

.page-header__text-container {
  width: 90%;
  /* height: 218px; */
  flex-grow: 1;
  margin-top: 3.3rem;
  min-width: 288px;
  max-width: 900px;
}

.page-header__text {
  margin-top: 2.4rem;
}

.page-header__button {
  position: relative;
  top: 3.3rem;
  width: 229px;
  display: inline-block;
  padding: 1.5rem 2rem 1.5rem 1.6rem;
  font-weight: bold;
  background-color: var(--off-white);
  color: var(--warm-black);
  text-decoration: none;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 0.4rem;
}

.page-header__button span {
  display: inline-block;
  width: 12px;
  height: 9px;
  margin-left: 1.4rem;
  background-image: url('../assets/icons/arrow-down-black.svg');
}

/* bitcoin exchange section */

.bitcoin-exchange {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bitcoin-exchange__img {
  margin-top: 5.8rem;
}

.bitcoin-exchange__title {
  margin-top: 4.4rem;
}

.bitcoin-exchange__text {
  margin-top: 2.4rem;
}

/* bitcoin exchange tables section */

.exchange-tables-section {
  margin-bottom: 6.5rem;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.8rem;
}

.table-container__title {
  padding-left: 1.2rem;
  align-self: flex-start;
}

.table {
  width: 197px;
  margin-top: 1rem;
  font-family: 'Inter', sans-serif;
  text-align: start;
  border-spacing: 1px;
  border-radius: 0.8rem;
  overflow: hidden;
}

.table td {
  background-color: var(--just-white);
}

.table .currency-name,
.table .commission-name {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 1.2rem;
  color: #B5B0AC;
}

.table .currency-value,
.table .commission-value {
  /* width: 50%; */
  display: flex;
  align-items: center;
  gap: 10.5px;
  padding: 1.1rem 1.2rem;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
}

.center {
  justify-content: center;
}

.table .trending {
  width: 12px;
  height: 13px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.down {
  background-image: url(./../assets/icons/trending-down.svg);
}

.up {
  background-image: url(./../assets/icons/trending-up.svg);
}

.table-container .nationality-value {
  margin-top: 16px;
  padding: 0.8rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  border-radius: 8px;
}

/* Benefits section */

.benefits {
  background-color: var(--warm-black);
  color: var(--benefits-text-color);
  text-align: center;
  overflow: auto;
}

.benefits__container {
  margin-top: 6.4rem;
  margin-bottom: 4.6rem;
}

.benefits__title {
  margin-bottom: 2.4rem;
}

.benefits__resume {
  margin-bottom: 3.2rem;
}

.card {
  width: 100%;
  height: 15.2rem;
  text-align: start;
  background-color: var(--black);
  padding: 1.6rem 2rem 2.2rem 1.6rem;
  border-radius: 0.4rem;
  box-shadow: 0px 4px 8px 0px #00000029;
  margin-top: 1.6rem;
}

.card__title {
  margin-top: 6px;
  margin-bottom: 9px;
  line-height: 18px;
}
